body {
  background: #FFFFF0;
}

.note {
	border: solid;
	border-width: 1px; 
	width:150px; 
	height: 150px; 
	max-height: 150px;
	background-color: lightblue; 
	margin: 20px; 
	padding: 10px;
	display: inline-block;
	float: left;
	position: relative;
}

.new-note {
	background-color: lightgray; 
}

.new-note-textarea {
	height: 70%;
	width: 100%;
	padding: 1%;
	border: none;
}

.glyphicon-remove {
	color: red;
}

.removeNote {
	float: right;
	position: absolute;
	top: 5px;
	right: 5px;
}

div.show-image {
    position: relative;
    float:left;
    margin:5px;
}

div.show-image:hover img{
    opacity:0.5;
}

div.show-image:hover input {
    display: block;
}

div.show-image input {
    position:absolute;
    display:none;
}

div.show-image input.update {
    top:0;
    left:0;
}

div.show-image input.delete {
    top: 0;
    left: 57%;
}

div.show-image input.partially-seen {
    top: 20%;
}
